---
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

export interface Props {
  title: string;
  hideNavBar?: boolean;
}

const { title, hideNavBar } = Astro.props;
const META_MESSAGE = "Adapt, Evolve, Chat. Grow a community, connect with your friends, or whatever \
  you're capable of with Adapt, a lightweight and customizable messaging platform which favors your privacy.";
const EXTERNAL_ICON = "https://github.com/AdaptChat/branding/blob/main/icons/adapt-fg-opaque.png?raw=true";
const SITE_URL = "https://adapt.chat"
---

<!DOCTYPE html>
<html lang="en" class="bg-gray-900 text-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <meta name="title" content={"Adapt \u{2013} A chat platform"}>
    <meta name="description" content={META_MESSAGE}>
    <meta name="theme-color" content="#0a0e16">

    <!-- Open Graph / Facebook / Discord -->
    <meta property="og:type" content="website">
    <meta property="og:url" content={SITE_URL}>
    <meta property="og:title" content={"Adapt \u{2013} A chat platform"}>
    <meta property="og:description" content={META_MESSAGE}>
    <meta property="og:image" content={EXTERNAL_ICON}>

    <!-- Twitter -->
    <meta property="twitter:url" content={SITE_URL}>
    <meta property="twitter:title" content={"Adapt \u{2013} A chat platform"}>
    <meta property="twitter:description" content={META_MESSAGE}>
    <meta property="twitter:image" content={EXTERNAL_ICON}>

    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body class="m-0 font-sans flex flex-col min-h-[100vh]">
    {hideNavBar ? undefined : <NavBar />}
    <div class="flex-grow">
      <slot />
    </div>
    <Footer />
  </body>
</html>
